
* {
    box-sizing: border-box;
  }

html,
body {
    height: 100%;
}

body {
    clear: both;
    background-image: url("../images/DustBackground.png");
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    min-height: 100%;
}

.header > h1 {
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 240px; 
    padding: 20px;
    float: left;
}

header {

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: solid 2px #cccccc;
    background: #ffffff;
    clear: both;
}

.header-nav {
    float: right;
    padding-right: 235px;
}

a {
    font-size: 15px;
    text-align: center;
    color: #777777;
    margin: 0;
    float: left;
    padding: 10px;
    padding-top: 25px;
    text-decoration: none;
}

#a2 {
    border-right: solid 2px #cccccc;
    border-left: solid 2px #cccccc;
}


.about-me {

    clear: both;
    padding: 10px 40px 20px 40px;
    margin: 100px auto 60px auto;
    width: 960px;
    border: solid 2px #cccccc;
    background: #ffffff;
}

h2 {
    padding-bottom: 25px;
    border-bottom: solid 2px #666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;  
}

.contact-icons {
	color: #d3d3d3;
    font-size: 12px; 
}

#beach-picture {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 210px;
    height: 210px;
}

p {
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}



                    /* Portfolio */

.my-portfolio {

    clear: both;
    padding: 10px 40px 20px 40px;
    margin: 100px auto 60px auto;
    width: 960px;
    height: 700px; 
    border: solid 2px #cccccc;
    background: #ffffff;
}

.portfolio-image{
    border: solid 4px #4aaaa5;
    float: left;
    margin: 10px;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
}

#portfolio-link {
    text-align: center;
    color: white;
}

                    /* Contact */

.my-contact {

    clear: both;
    padding: 10px 40px 20px 40px;
    margin: 100px auto 60px auto;
    width: 960px;
    border: solid 2px #cccccc;
    background: #ffffff;
}

#code-pen-h1, #code-pen-h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
  #code-pen-h1 { font-size: 15px; }
  #code-pen-h2 {
    color: #888;
    font-size: 2em;
  }

                            /* Media Querys */


@media screen and (max-width: 980px) {

    .about-me {
        width: 60%;
        margin-top: 100px;
        float: left;
        margin-left: 50px;
    }
    
    .my-portfolio {
        width: 60%;
        margin: 0 0 0 50px; 
        margin-top: 100px;
        padding-bottom: 730px;
        height: auto;
    }
    .my-contact {
        width: 60%;
        float: left;
        margin-left: 50px;
    }

    .portfolio-image {
        margin: 0 0 20px 20px;
        
    }

    #name-input, #email-input {
        height: 30px;
        width: 485px;
    } 
    #message-input {
        width: 485px;
        
    }
    .header > h1 {
        margin-left: 50px;
    }

    .header-nav {
        float: right;
        padding-right: 100px;
    }
}



@media screen and (max-width: 768px) {

    .about-me, .my-contact {
        width: 95%;
        float: left;
        margin-left: 20px;
    }

    .my-portfolio{
        width: 95%;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        height: 850px;
    }

    .my-contact,.my-portfolio {
        margin-top: 116px;
    }

    .header > h1 {
        margin-left: 20px;
    }

    .header-nav {
        float: right;
        padding-right: 10px;
    }
    p {
        font-size: 15px;
        line-height: 20px;
    }

    /* #adventure-utah, #giphy-api, #trivia-game, #word-guess, #train-scheduler, #Psychic-game {
        width: 290px;
    } */
}


@media screen and (max-width: 640px) {

    .about-me, .my-contact, .my-portfolio {
        
        clear: both;
        width: 85%;
        margin: 15px auto;
        float: left;
        margin-left: 50px;
    }
    .my-portfolio {
        
        margin-top: 181px;
        height: 1600px
    }
    .my-contact {
        
        margin-top: 181px;
    
    }
    #beach-picture {
        
        width: 100%;
        height: 400px;
    }

    .header-nav {

        width: 60%;
        clear: both;
        padding: 20px 0;
        text-align: center;
        margin: 0 50px;
    }
    
    .header > h1 {

        width: 100%;
        margin: 0;
    }
    .main-content {
        padding-top: 150px;
        margin-bottom: 50px;
    }

    p {
        font-size: 15px;
        line-height: 20px;
    }

    #name-input, #email-input {
        height: 30px;
        width: 460px;
    } 

    #message-input {
        position: static;
        width: 460px;
    } 

    #adventure-utah, #giphy-api, #trivia-game, #word-guess, #train-scheduler, #Psychic-game {
        width: 400px
    }
}

@media screen and (max-width: 500px) {

    .header-nav {

        width: 65%;
    }

    .about-me {
        width: 75%
    }
    .my-portfolio {
        width: 75%;
        margin-top: 181px;
        height: 1800px
    }
    .my-contact {
        width: 75%;
    }
    .header > h1 {

        width: 100%;
        margin: 0;
    }

    #name-input, #email-input {
        width: 200px;
    } 

    #message-input {
        width: 200px;
    } 

    #adventure-utah, #giphy-api, #trivia-Game, #word-guess, #train-scheduler, #psychic-game {
        width: 150px;

    }

}